label {
  font-size: larger;
  font-weight: bold;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: grid;
  height: 20vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: flex-start;
  margin-left: 60px;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.grid1 {
  display: grid;
  height: 20vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 20px 0px 20px 0px;
  align-items: center;
  margin-right: 20px;
  margin-left: -20px;
}